<h1>this is home</h1>
<html>
    <head>

        <title>home</title>
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
        <script src = "list.js"></script>
        <style>
            /* .image{
                width:100px;
                height:100px;
            } */
        </style>
    </head>
    <body>
        
        <p id="title"></p>
        <p id="description"></p>
        <p id="image"></p>
        <p id="quantity"></p>
        <p id="edit"></p>
        
        <button onclick="prev()">previous</button>
        
        <button onclick="next()">next</button>
        <button onclick="remove()">delete</button>
        <button onclick="edit()">edit</button>

        

        
        
    </body>
</html>