body {
    background-color:gray;
    font-size:20px;
}
.content{
    float:top;
    padding-left: 50px;
}

.img{
    padding:150px;
    float:right;

}
img {
    width:300px;
    height:500px;
    border-radius:20px;
}
h3 {

    width:250px;
    height:50px;
    text-align:center;
    padding-top:25px;
    border-radius: 20px;
    background-color:green;
}
.heading {
    height:120px;
    color : white;
    background-color:black;
    padding-top:80px;
    padding-left:200px;
    border-radius:20px;
    font-style: italic;
}
.heading img {
    width:100px;
    height:40px;
    padding-left:150px;
}
table {
    font-size:20px;
}